* {
  color: #d9d5d0;
}

a,
.red {
  text-decoration: none;
  color: hsla(191, 85%, 86%);
  transition: 0.1s;
  padding: 3px;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.slide-enter-active, .slide-leave-active {
  transition-property: transform, opacity;
  transition-duration: 500ms;
  transition-timing-function: ease;
}
.slide-enter-from, .slide-leave-to {
  transform: translateX(100%);
  opacity: 0;
}
.slide-enter-to, .slide-leave-from {
  transform: translateX(0%);
  opacity: 1;
}

@media (hover: hover) {
  a:hover {
    color: hsl(187, 26%, 58%);
  }
}
